# Cython generated sources
/spotfire/*.c
/spotfire/*.html

# byte-compiled files
__pycache__/
*.py[cod]

# unit test results files
/results-*.xml

# distribution
/build/
/dist/
/*.egg-info/
/MANIFEST

# PyCharm project files
/.idea

# generic file backups and other detritus
*~
*.swp
*.DS_Store

