include LICENSE
include *requirements_*.txt
include spotfire/*.pyx
include spotfire/*_helpers.*
recursive-exclude spotfire/test/files *
include CPPLINT.cfg
exclude setup.cfg
recursive-include vendor *.pxd *.h *.c
recursive-exclude vendor/sbdf-c/tests *.h *.c
recursive-exclude venv *
recursive-exclude .github *
exclude .gitattributes
exclude .gitignore
exclude .whitesource*
